window#waybar {
    background-color: #141b1e;
    font-family: "FiraCode Nerd Font";
}

#workspaces {
  margin: 10px;
  margin-top: 4px;
  padding: 7px 0px 7px 0px;
  /* padding-top: 4px; */
  /* padding-bottom: 4px; */
  /* padding-left: 4px; */
  border-radius: 50px;
  background-color: #232a2d;
  font-size: 20px;    
}

#workspaces button {
  color: #dadada;
   padding: 2px 7px;
}

#workspaces button:hover {
  background: #232a2d;
}

#workspaces button.active{
  color: #00ffff;
}

#custom-power {
    color: #141b1e;
    background-color: #e57474; 
    font-size: 15px;
    border-radius: 10px;
    padding: 10px 0px;
    margin: 0px 10px;
    margin-bottom: 5px;
}

#clock {
    color: #dadada;
    font-size: 1.2em;
    margin-bottom: 8px;
}

#custom-arch{
    color: #141b1e;
    background-color: #0088cc;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px 0;
    margin: 0 10px;
    margin-bottom: 5px;
    margin-top: 8px;
}

#custom-separator {
    color: #dadada; 
}

#memory {
    color: #dadada;
    padding: 10px 0px 10px;
    font-size: 17px;
}
#cpu{
    color: #dadada;
    padding: 10px 0px 10px;
    font-size: 17px;
}

#custom-wofi {
    border-radius: 50px;
    margin: 10px;
    font-size:18px;
    padding: 7px;
    background-color: #232a2d;
    color: #dadada;
}

#battery  {
    border-radius: 50px;
    margin: 10px;
    font-size:18px;
    padding: 7px;
    background-color: #232a2d;
    color: #dadada;
}
#backlight {
    border-radius: 50px;
    margin: 10px;
    font-size:18px;
    padding: 7px;
    background-color: #232a2d;
    color: #dadada;
}
#battery.warning {
	color: #ffcc00
}
#battery.critical{
	color: #ffcc00
}

#pulseaudio{
    border-radius: 50px;
    margin: 10px;
    font-size: 20px;
    padding: 7px;
    background-color: #232a2d;
    color: #dadada;
}
#network{
    border-radius: 50px;
    margin: 10px;
    font-size: 18px;
    padding: 7px;
    background-color: #232a2d;
    color: #dadada;
}
#bluetooth{
    border-radius: 50px;
    margin: 10px;
    font-size: 18px;
    padding: 7px;
    background-color: #232a2d;
    color: #dadada;
}
#custom-fanprofiles{
    border-radius: 50px;
    margin: 10px;
    font-size: 18px;
    padding: 7px;
    background-color: #232a2d;
    color: #dadada;
}
